#disable samsung anti-root stuffs
CONFIG_SECURITY_DEFEX=n
CONFIG_PROCA=n
CONFIG_FIVE=n

# KernelSU-Next
CONFIG_KSU=y
CONFIG_KSU_KPROBES_HOOK=n
CONFIG_KSU_LSM_SECURITY_HOOKS=y

# disable BTF debug info to avoid resolve_btfids build failure
# (glibc 2.38+ vs clang-14 incompatibility on host)
CONFIG_DEBUG_INFO_BTF=n